---
layout: page
title: "Clases"
permalink: /clases/
phony: true
excerpt: '' # work around a bug
---

<ul>
  {% assign lectures = site['clases'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%-m/%d' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ site.baseurl }}{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [fuera de programa] 
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

Los video tutoriales estarán disponible <a href="https://www.youtube.com/@ramiroespadaguerrero/playlists">en Youtube</a>

{% comment %}
<h2>Previous year's lectures</h2>

<p>You can find lecture notes and videos from <a href="/2019/">last year's version of this class</a>. Each year's lectures are fully self-contained, and we recommend following the most recent version of the material (i.e. the 2020 lectures). There is slight variation in the topics covered, so we continue to host notes and videos for earlier versions of this course.</p>

{% endcomment %}
